* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 2;
  background-color: #212121;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu_link:hover {
  text-decoration: none;
  color: #1eacc7;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  width: 100%;
  margin-top: 16px;
}

.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 799px;
  background: url(../img/first_bg.png) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  margin: 0;
  text-align: center;
}

.promo_subheader {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.working {
  max-height: 5250px;
  margin-top: 71px;
}

.working_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.working_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.working_descr {
  width: 341px;
}

.working_descr_subtitle {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.working_descr_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.advantages {
  display: block;
  margin: 0 auto;
  padding: 5px 11px 6px 12px;
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantages_white {
  text-align: center;
  background-color: #ffffff;
  color: #070716;
}

.reasons {
  text-align: center;
  margin: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons_white {
  color: #ffffff;
  line-height: 48px;
}

.subtitle {
  text-align: center;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
}

.subtitle_white {
  color: #ffffff;
  line-height: 21px;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 80px 0;
  background: url("../img/mobile_under.png") center center/cover no-repeat;
  text-align: center;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile_item_1 {
  background: url("../img/mobile1.png") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/mobile2.png") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/mobile3.png") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/mobile4.png") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/mobile5.png") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/mobile6.png") center center/cover no-repeat;
}

.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  padding: 6px;
  cursor: pointer;
}

.mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_item_plus:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

.car {
  height: 896px;
  width: 100%;
}

.car_black {
  position: relative;
  height: 499px;
  background-color: #070716;
  padding-top: 57px;
}

.car_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 56px;
}

.car_down {
  height: 397px;
  background: url("../img/under_car.png") center center/cover no-repeat;
  padding-top: 217px;
}

.bottom_text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
}

.require {
  padding: 68px 0 84px 0;
}

.require_block {
  margin: 33px 0;
}

.require_block_nmb {
  margin-bottom: 0px;
}

.require_title {
  color: #1eacc7;
  font-size: 22px;
  font-weight: 400;
}

.require_list {
  list-style: none;
  padding-left: 50px;
  margin-top: 22px;
}

.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

.require_list li:before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/yes_blue.png") center center/cover repeat;
}

.require_descr {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1eacc7;
}

.require .warning .require_title {
  color: #ff5656;
}

.require .warning .require_list li:before {
  background: url("../icons/yes_red.png") center center/cover repeat;
}

.world {
  height: 717px;
  padding: 57px 0 49px 0;
  background: #080816 url("../img/world_bg.png") center center/cover no-repeat;
}

.world a {
  color: #1fbad6;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.a_cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 446px;
}

footer {
  height: 156px;
  padding-top: 14px 23px 39px 23px;
}

footer hr {
  display: block;
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: o auto;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  color: #1eacc7;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 32px 23px;
}

.footer_wrapper > div {
  width: 33%;
}

.foot_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.foot_left a span {
  color: white;
}

.circle1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

.circle1 i {
  color: white;
}

.span_color {
  color: white;
}

.foot_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot_center {
  width: 390px;
  margin: 0 auto;
}

.row_all1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.row1 {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.row_all2 {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row2 {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.row_all3 {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row3 {
  color: #1eacc7;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.long_black {
  display: block;
  width: 100%;
  height: 8px;
  background-color: black;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .working_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .working_descr {
    width: 300px;
  }
  .car_down {
    padding-top: 256px;
  }
  .mobile_item {
    width: 300px;
  }
}

@media (max-width: 991px) {
  .menu_item {
    padding-right: 10px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  .mobile_item {
    width: 229px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 65px;
  }
  .mobile_item_subtitle {
    font-size: 18px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .working_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .working_round {
    margin-right: 0;
  }
  .working_descr {
    width: 300px;
    margin-top: 20px;
  }
  .car {
    height: 700px;
  }
  .car_img img {
    display: block;
    width: 90%;
  }
  .car_down {
    height: 200px;
    padding-top: 100px;
  }
  .require {
    padding: 2px 0 2px 0;
  }
  footer {
    height: 115px;
  }
  .footer_wrapper {
    margin: 5px 5px;
  }
  .row_all2 {
    margin-top: 5px;
  }
  .row_all3 {
    margin-top: 7px;
  }
  .row1 {
    font-size: 11px;
  }
  .row2 {
    font-size: 8px;
  }
  .foot_left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .foot_right {
    margin: 0 30px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .foot_right a {
    padding-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .reasons {
    font-size: 27px;
  }
  .promo_header {
    line-height: 45px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_wrapper div {
    width: 100%;
  }
  .foot_left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foot_center {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding: 10px 0 10px 0;
  }
  .row_all1 {
    padding: 0 150px 0 150px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row_all2 {
    padding: 0 70px 0 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .foot_right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
  }
  .long_black {
    display: none;
  }
}

@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  header {
    height: 30px;
  }
  .subheader {
    height: 60px;
    top: 30px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 16px;
  }
  .subheader_phone {
    margin-top: 11px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .subheader_btn {
    margin-top: 6px;
    width: 110px;
    height: 22px;
    font-size: 10px;
  }
  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0;
  }
  .promo_descr {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    line-height: 30px;
    padding: 0 10px;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
  }
  .menu {
    width: 85%;
  }
  .working {
    padding: 0px 0 36px 0;
    margin-top: 22px;
  }
  .working_block {
    margin-top: 26px;
  }
  .working_round {
    width: 100px;
    height: 100px;
  }
  .working_descr {
    width: 100%;
    margin-top: 27px;
  }
  .working_subtitle {
    font-size: 16px;
  }
  .mobile {
    padding: 18px 0 35px 0;
  }
  .mobile_item {
    width: 290px;
    height: 254px;
  }
  .mobile_item_subtitle {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .reasons {
    font-size: 16px;
    margin: 15px 0 15px 0;
    line-height: 16px;
  }
  .reasons_xs {
    display: none;
  }
  .subtitle_xs {
    display: none;
  }
  .car {
    height: 380px;
  }
  .car_black {
    padding-top: 24px;
    height: 365px;
  }
  .car_down {
    display: none;
  }
  .car_img {
    margin-top: 30px;
  }
  .bottom_text_white {
    color: white;
    margin-top: 23px;
    font-size: 17px;
    font-weight: 300;
    padding: 0 35px 0 35px;
  }
  .require_block {
    margin-top: 0px;
  }
  .require_list {
    padding-left: 25px;
    margin-top: 13px;
  }
  .require_list li {
    margin-bottom: 3px;
  }
  .require_title {
    color: #1ca8c3;
    font-size: 16px;
    font-weight: 400;
  }
  .require_descr {
    margin-top: 9px;
  }
  .world {
    height: 360px;
    padding: 30px 0 26px 0;
  }
  .a_cities {
    margin-top: 180px;
  }
  .foot_center {
    padding: 0 0 15px 0;
  }
  .row_all1 {
    padding: 0 10px 0 10px;
  }
  .row1 {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .row_all2 {
    padding: 0 38px 0 38px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    line-height: 25px;
  }
  .row2 {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .row3 {
    font-size: 11px;
    font-weight: 400;
  }
  .foot-left {
    margin-bottom: 20px;
  }
  footer hr {
    width: 250px;
  }
}
/*# sourceMappingURL=style.css.map */